doctype html
html
	head
		title= title
		link(rel = 'stylesheet', href = '/lib/bootstrap/css/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/stylesheets/style.css')
		script(type = 'text/javascript', src = '/lib/jquery.min.js')
		script(type = 'text/javascript', src = '/lib/bootstrap/js/bootstrap.min.js')
		script(type = 'text/javascript', src = 'https://tc16n.panasonic.aero/inflight.js')
		script(type = 'text/javascript', src = '/lib/angular.min.js')
		script(type = 'text/javascript', src = '/lib/angular-route.min.js')
		script(type = 'text/javascript', src='https://js.braintreegateway.com/js/braintree-2.28.0.min.js')

		script(type = 'text/javascript', src = '/javascripts/app.js')
		script(type = 'text/javascript', src = '/javascripts/services/inflight.js')
		script(type = 'text/javascript', src = '/javascripts/services/seats.js')
		script(type = 'text/javascript', src = '/javascripts/directives/seatPicker.js')
		script(type = 'text/javascript', src = '/javascripts/controllers/buy.js')
		script(type = 'text/javascript', src = '/javascripts/controllers/rent.js')
		script(type = 'text/javascript', src = '/javascripts/controllers/checkout.js')

body(ng-app='seatSwap')
	block content